# Declare files that will always have LF line endings on checkout.
*.md text eol=lf
*.php text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Package export ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/codecov.yml export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/Tests export-ignore
